<!-- ******HEADER****** -->
<header class="header">
    <div class="container">
        <img class="profile-image img-responsive pull-left" src="images/profile.jpg" alt="Yuxiang Zhou" />
        <div class="profile-content pull-left">
            <h1 class="name">{{fullname}}</h1>
            <h2 class="desc">{{current}}</h2>
            <ul class="social list-inline">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>
            </ul>
        </div><!--//profile-->
        <a class="btn btn-cta-primary pull-right" href="#" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
    </div><!--//container-->
</header><!--//header-->

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="about section">
                <div class="section-inner">
                    <h2 class="heading">About Me</h2>
                    <div class="content">
                      <p ng-repeat='para in aboutme'>{{para}}</p>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

           <section class="latest section">
                <div class="section-inner">
                    <h2 class="heading">Latest Projects</h2>
                    <div class="content">

                        <div ng-repeat='proj in featured_projects' class="item featured text-center">
                            <h3 class="title"><a href="{{proj.url}}" target="_blank">{{proj.title}}</a></h3>
                            <p class="summary">{{proj.summary}}</p>
                            <div class="featured-image">
                                <a href="{{proj.url}}" target="_blank">
                                <img class="img-responsive project-image" src="{{proj.img}}" alt="project name" />
                                </a>
                                <div class="ribbon">
                                    <div class="text">New</div>
                                    </div>
                                </div>

                            <div class="desc text-left">
                                <p ng-repeat="desc in proj.descriptions">{{desc}}</p>
                            <a class="btn btn-cta-secondary" href="{{proj.url}}" target="_blank"><i class="fa fa-thumbs-o-up"></i> Back my project</a>
                        </div><!--//item-->
                        <hr class="divider" />
                        <div ng-repeat='proj in projects' class="item row">
                            <a class="col-md-4 col-sm-4 col-xs-12" href="{{proj.url}}" target="_blank">
                            <img class="img-responsive project-image" src="{{proj.img}}" alt="project name" />
                            </a>
                            <div class="desc col-md-8 col-sm-8 col-xs-12">
                                <h3 class="title"><a href="{{proj.url}}" target="_blank">{{proj.title}}</a></h3>
                                <p>{{proj.summary}}</p>
                                <p><a class="more-link" href="{{proj.url}}" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                            </div><!--//desc-->
                        </div><!--//item-->

                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->


            <section class="experience section">
                <div class="section-inner">
                    <h2 class="heading">Teaching Experiences</h2>
                    <div class="content">
                        <div class="item" ng-repeat='work in teaching'>
                            <h3 class="title"><i class='fa fa-graduation-cap'></i> {{work.job_title}} - <span class="place"><a href="#">{{work.company}}</a></span></h3>
                            <h5><span class="year">{{work.year}}</span></h5>
                            <p>{{work.summary}}</p>
                        </div><!--//item-->

                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

            <section class="experience section">
                <div class="section-inner">
                    <h2 class="heading">Working Experiences</h2>
                    <div class="content">
                        <div class="item" ng-repeat='work in experiences'>
                            <h3 class="title"><i class='fa fa-briefcase'></i> {{work.job_title}} - <span class="place"><a href="#">{{work.company}}</a></span></h3>
                            <h5><span class="year">{{work.year}}</span></h5>
                            <p>{{work.summary}}</p>
                        </div><!--//item-->

                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

            <section class="projects section" ng-if="academic_projects.length">
              <div class="section-inner">
                <h2 class="heading">Academic Projects</h2>
                <div class="content">
                  <div class="item" ng-repeat='proj in academic_projects'>
                    <h3 class="title"><a href="#">{{proj.title}}</a></h3>
                    <p class="summary">{{proj.summary}}</p>
                    <p ng-if='proj.url'><a class="more-link" href="{{proj.url}}" target="_blank"><i class="fa fa-external-link"></i>Find out more</a></p>
                  </div><!--//item-->

                </div><!--//content-->
              </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
             <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Basic Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                          <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>{{location}}</li>
                          <li><i class="fa fa-phone"></i><span class="sr-only">Mobole:</span>{{phone}}</li>
                          <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:{{email}}">{{email}}</a></li>
                          <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="{{website}}">{{website}}</a></li>
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside-->

            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>
                    <div class="content">
                        <p class="intro">
                          {{skills.intro}}
                        </p>

                        <div class="skillset">

                            <div ng-repeat="skill in skills.set" class="item">
                                <h3 class="level-title">{{skill.title}}<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="{{skills.tips}}">{{skills.level_title}}</span></h3>
                                <div class="level-bar">
                                  <uib-progressbar class="progress-striped active" value="skill.level" type="info">{{skill.level}}/100</uib-progressbar>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Coderwall</a></p>
                        </div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="education aside section" ng-if='educations.length'>
                <div class="section-inner">
                    <h2 class="heading">Education</h2>
                    <div class="content">
                        <div ng-repeat='edu in educations' class="item">
                            <h3 class="title"><i class="fa fa-graduation-cap"></i> {{edu.title}}</h3>
                            <h4 class="university" ng-if='edu.major'>{{edu.major}}</h4>
                            <h4 class="university">{{edu.uni}} <span class="year">({{edu.year}})</span></h4>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="conferences aside section">
              <div class="section-inner">
                <h2 class="heading">Publications</h2>
                <div class="content">
                    <div ng-repeat='pub in publications' class="item">
                        <h3 class="title">{{pub.title}} </h3>
                        <h4 class="paper">{{pub.authors}}</h4>
                        <h4 class="paper">{{pub.location}}</h4>
                    </div><!--//item-->
                </div><!--//content-->
              </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="languages aside section">
                <div class="section-inner">
                    <h2 class="heading">Languages</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li ng-repeat='lang in languages' class="item">
                                <span class="title"><strong>{{lang.name}}:</strong></span>
                                <span class="level">{{lang.level_title}} <br class="visible-xs"/><i ng-repeat='i in lang.level track by $index' class="fa fa-star"></i></span>
                            </li><!--//item-->
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->

<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </div><!--//container-->
</footer><!--//footer-->
